<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Perfect0.scenarios.suite1.bdd</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>18/04/27 11:29:37</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:29:37</td>   <td>19</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:29:37</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:29:37</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="b48a68">  <td>18/04/27 11:29:37</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.TOI_2()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">TOI_2</td> 
  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:30:39</td>   <td>61643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:30:39</td>   <td>61643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:30:39</td>   <td>61645</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
<tr bgcolor="eca565">  <td>18/04/27 11:30:59</td>   <td>82160</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td>1000 </td> </tr>
</table>
